<%if policy(@wiki).show? %>
<h1><%= markdown @wiki.title %></h1>
<%if policy(@wiki).edit? %>
 <%= link_to "Edit", edit_wiki_path(@wiki), class: "btn btn-success" %>
<% end %>
<p><%= markdown @wiki.body %></p>
<% end %>

<!-- render current collaborats -->
<%= @collaborators.to_a %>

<p><strong>list of collaborators</strong></p>

<!-- render collaborators with kainari pagination -->
<% @collaborators.each do |collaborator| %> 
<div class = "media">
  <div class = "media-body">
    <div id = "collaboration-<%= collaborator.id %>" class = "media-heading">
       <p><%= User.find(collaborator.user_id).name%></p>

          <%= link_to "Delete", wiki_collaboration_path(@wiki, collaborator), method: :delete,remote: true %>
     </div>
   </div>
 </div>
<%end%>

