<%if policy(@wiki).show? %>
<h1><%= markdown @wiki.title %></h1>
<%if policy(@wiki).edit? %>
 <%= link_to "Edit", edit_wiki_path(@wiki), class: "btn btn-success" %>
<% end %>
<%if policy(@wiki).edit_form_settings? && policy(@wiki).edit?%>
    <%= link_to "Delete Wiki", @wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this wiki?' } %> 
<%end%>
<p><%= markdown @wiki.body %></p>
<% end %>

<!-- render current collaborats -->
<%= @collaborations.to_a %>

<p><strong>list of collaborators</strong></p>

<!-- render collaborators with kainari pagination -->
<% @collaborations.each do |collaboration| %> 
<% raise if collaboration.user_id.nil? %>


<div class = "media">
  <div class = "media-body">
    <div id = "collaboration-<%= collaboration.id %>" class = "media-heading">
       <p><%= User.find(collaboration.user_id).name%></p>
        <%if policy(@wiki).edit_form_settings? && policy(@wiki).edit?%>
          <%= link_to "Delete", wiki_collaboration_path(@wiki, collaboration), method: :delete,remote: true %>
        <%end%>
     </div>
   </div>
 </div>
<%end%>

<%= paginate @collaborations %>