<%= form_for [wiki, collaboration] do |f|%>
 
<div class = "col-md-8">
 
    <div class = "form-group">
      <%= f.label :user_name %>
      <%= f.text_field :user_name, class: 'form-control', placeholder: "Enter name"  %>
    </div>
    <%= f.hidden_field :user_id %>
    <div class = "form-group">
      <%= f.submit class: 'btn btn-success' %>
    </div>
  </div>
 
    <div id="user_data" class="dropdown">
  <ul class="list-group" style= "width:50%"></ul>
</div>

</div>

  </div>

</div>
<%end%>
<%= render partial: "collaborations/show", locals: { wiki: @wiki, collaboration: @collaboration} %>